/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Poppins:wght@400;500;600&display=swap');

:root{
    ---header-height: 3rem;

    --hue-color: 181;
    --primary-color: hsl(var(--hue-color), 69%, 29%);
    --primary-color-ascent: hsl(var(--hue-color), 69%, 29%);
    --primary-color-alt: hsl(var(--hue-color), 57%, 53%);
    --primary-color-light: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --body-background-color: hsl(var(--hue-color), 100%, 99%);
    --body-background-color-alt: hsl(var(--hue-color), 100%, 97%);

    --container-color: #FFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.primary-color{
    background-color: var(--primary-color) !important;
}

.primary-color-ascent{
    background-color: var(--primary-color-ascent) !important;
}

.primary-color-alt{
    background-color: var(--primary-color-alt) !important;
}

.primary-color-light{
    background-color: var(--primary-color-light) !important;
}

.text-color{
    color: var(--primary-color) !important;
}

.text-color-light{
    color: var(--text-color-light) !important;
}

.text-color-ascent{
    color: var(--primary-color-ascent) !important;
}

body{
    background-color: var(--body-background-color);
    font-family: 'Poppins', sans-serif;
    height:100%;
}

.logo-title {
    font-family: 'Libre Franklin', sans-serif;
}

.search-button{
    margin-left: -2.5rem !important;
}

.link-anchor {
    color: var(--primary-color) !important;
}

.link-anchor:hover {
    color: var(--primary-color-alt) !important;
}

/* navbar dropdown */
.dropdown-user:hover .dropdown-menu {
    position:absolute;
    right:0;
    display: block;
    margin-top: 0;
}

/* Section */
section{
    margin: 0;
}

section#home{
    margin-top: 7.5rem;
}

section#sell-out{
    background-color: var(--primary-color-alt);
}

section#sewa-mobil{
    padding: 5rem 0 5rem;
}

section#destinasi-wisata{
    padding: 5rem 0 5rem;
}

section#mengapa-harus-kami{
    padding: 5rem 0 8rem;
}

section#klien-kami{
    padding: 5rem 0 8rem;
}

section#syarat-dan-ketentuan{
    padding: 5rem 0 5rem;
    min-height: 450px;
}

section#metode-pembayaran{
    padding: 5rem 0 8rem;
}

section#kontak-kami{
    padding: 5rem 0 5rem;
}

/* carousels  */
.owl-stage-outer{
    border-radius: 6px !important;

}
.owl-prev {
    position: absolute !important;
    font-size: 40px !important;
    width:20px;
    height:auto;
    padding: 2px;
    top: 40% !important;
    transition: 0.2s;
    left: 20px !important;
    display: block !important;
}

.owl-next {
    position: absolute !important;
    font-size: 40px !important;
    width:20px;
    height:auto;
    top: 40% !important;
    transition: 0.2s;
    right: 20px !important;
    display: block !important;
}
.owl-prev, .owl-next {
    color: white !important;
}
.owl-prev:hover, .owl-next:hover {
    color: var(--primary-color) !important;
    background-color: transparent !important;
    transition: 0.2s;
    transform: scale(150%);
}

.owl-dots {
    position: absolute;
    text-align: center;
    bottom: -1.8rem;
}

.owl-dots button.owl-dot.active span
{
  background-color: var(--primary-color) !important;
  /* border-radius: 50% !important; */
}

.owl-dots button.owl-dot:hover span {
    background-color: var(--primary-color-alt) !important;
}
.owl-dots button.owl-dot{
    margin-bottom: 2rem;
}

/* car-card */
.car-image{
    transition: 0.2s;
}
.car-image:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.btn-primary-color{
    background-color: var(--primary-color-alt) !important;
    border-color: var(--primary-color-alt) !important;
    transition: 0.2s;
}

.btn-primary-color:hover{
    background-color: var(--primary-color-ascent) !important;
    color: white !important;
    transform: scale(105%);
    transition: 0.2s;
}

.btn-outline-primary-color{
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-primary-color:hover{
    background-color: var(--primary-color) !important;
    color: white !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-primary-color-alt{
    color: var(--primary-color-alt) !important;
    border-color: var(--primary-color-alt) !important;
}

.btn-outline-primary-color-alt:hover, .btn-outline-primary-color-alt.active{
    background-color: var(--primary-color-alt) !important;
    color: white !important;
    border-color: var(--primary-color-alt) !important;
}


/* destinasi wisata */

.overlay-destinasi-wisata{
    background-color: hsla(var(--hue-color), 57%, 53%, 0.8);
    z-index: -1;
}

.destinasi-carousel .owl-stage-outer{
    border-radius: 0 !important;
}

.destinasi-carousel .owl-prev {
    top: 35% !important;
    font-size: 60px !important;
    left: -2.5rem !important;
}

.destinasi-carousel .owl-prev:hover{
    color: var(--primary-color-ascent) !important;
}

.destinasi-carousel .owl-next {
    top: 35% !important;
    font-size: 60px !important;
    right: -2.5rem !important;
}

.destinasi-carousel .owl-next:hover{
    color: var(--primary-color-ascent) !important;
}

.destinasi-carousel > .owl-dots{
    bottom: -3.5rem !important;
}

.destinasi-carousel > .owl-dots > button.owl-dot.active > span{
    background-color: var(--primary-color) !important;
}

.destinasi-carousel > .owl-dots > button.owl-dot > span:hover{
    background-color: var(--primary-color-ascent) !important;
}

.destinasi-item{
    transition: 0.2s;
}

.destinasi-item:hover{
    transform: scale(105%);
    transition: 0.2s;
}

/* all car pagination */

.pagination > li > .page-link {
    background-color: white;
    color: var(--primary-color-alt);
}

.pagination > li.disabled > .page-link {
    background-color: rgb(212, 212, 212);
    color: var(--primary-color);
}

.pagination > li.active > .page-link{
    background-color: var(--primary-color-alt);
    color: white;
    border-color: var(--primary-color-alt);
}

/* mengapa harus kami */
.hr{
    border: 1px solid var(--primary-color);
    width: 350px;
    margin: 0 auto;
}

.mengapa-img{
    transition: 0.2s;
}

.mengapa-img:hover{
    transform: scale(110%);
    transition: 0.2s;
}

/* klien kami */

.klien-img{
    transition: 0.2s;
    max-width: 120px;
    filter: grayscale(100%);
}

.klien-img:hover{
    transform: scale(110%);
    transition: 0.2s;
    filter: grayscale(0%);
}

/* syarat dan ketentuan */
.overlay-syarat-dan-ketentuan{
    background-color: hsla(var(--hue-color), 57%, 53%, 0.6);
    z-index: 1;
}
.syarat-dan-ketentuan-card{
    z-index: 1;
    transition: 0.2s;
    background-color: var(--body-background-color);
}

.syarat-dan-ketentuan-card:hover{
    transform: scale(102%);
    transition: 0.2s;
    box-shadow: 5px 5px 10px 5px var(--primary-color-alt);
}

.hr-syarat-dan-ketentuan{
    border: 1px solid var(--primary-color);
    width: 100%;
    margin: 0 auto;
}

/* Metode Pembayaran */
.pembayaran-card{
    transition: 0.2s;
}

.pembayaran-card:hover{
    transform: scale(102%);
    transition: 0.2s;
    box-shadow: 5px 5px 10px 5px var(--primary-color-alt);
}

/* footer */

.overlay-kontak-kami{
    background-color: rgba(0, 0, 0, 0.608);
}

.sosmed a{
    transition: 0.2s;
}

.sosmed a:hover{
    transform: scale(105%) !important;
    transition: 0.2s !important;
}

/* car view carousels */
.splide__slide {
    opacity: 0.6;
}
  
.splide__slide.is-active {
    opacity: 1;
}

/* radio button search */
.form-check-input:checked {
    background-color: var(--primary-color-alt);
    border-color: var(--primary-color-alt);
}

/* remove input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* admin car list */
.form-check-input[type=checkbox]:checked {
    background-color: var(--primary-color-alt);
}
.form-switch .form-check-input:checked[type=checkbox]:after{
    background-color: var(--primary-color); 
}
@media screen and (max-width: 1200px){
    .text-responsive{
        font-size: 0.98rem !important;
    }
    .h3-responsive{
        font-size: 1.5rem !important;
    }
    .h4-responsive{
        font-size: 1.2rem !important;
    }
    .h5-responsive{
        font-size: 1rem !important;
    }

    .car-description *{
        font-size: 0.9rem;
    }

    .hr{
        border: 1px solid var(--primary-color);
        width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px){
    .text-responsive{
        font-size: 0.88rem !important;
    }
    .h3-responsive{
        font-size: 1.3rem !important;
    }
    .h4-responsive{
        font-size: 1.1rem !important;
    }
    .h5-responsive{
        font-size: 0.9rem !important;
    }
    
    section#syarat-dan-ketentuan{
        min-height: 500px;
    }

    .klien-img{
        max-width: 100px;
    }

    .car-description *{
        font-size: 0.8rem;
    }

    .hr{
        border: 1px solid var(--primary-color);
        width: 250px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .text-responsive{
        font-size: 0.78rem !important;
    }
    .h3-responsive{
        font-size: 1.1rem !important;
    }
    .h4-responsive{
        font-size: 1rem !important;
    }
    .h5-responsive{
        font-size: 0.8rem !important;
    }

    section#sewa-mobil{
        padding: 2rem 0 2rem !important;
    }

    section#destinasi-wisata{
        padding: 2rem 0 2rem !important;
    }

    section#mengapa-harus-kami{
        padding: 3rem 0 3rem !important;
    }

    section#syarat-dan-ketentuan{
        padding: 3rem 0 3rem !important;
    }

    section#klien-kami{
        padding: 3rem 0 3rem !important;
    }

    .klien-img{
        max-width: 80px;
    }

    .car-description *{
        font-size: 0.8rem;
    }

    .hr{
        border: 1px solid var(--primary-color);
        width: 200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .text-responsive{
        font-size: 0.68rem !important;
    }
    .h3-responsive{
        font-size: 1rem !important;
    }
    .h4-responsive{
        font-size: 0.9rem !important;
    }
    .h5-responsive{
        font-size: 0.7rem !important;
    }

    section#home{
        margin-top: 6.3rem;
    }
    
    section#sewa-mobil{
        padding: 2rem 0 2rem !important;
    }

    section#destinasi-wisata{
        padding: 2rem 0 2rem !important;
    }

    section#mengapa-harus-kami{
        padding: 3rem 0 3rem !important;
    }

    section#syarat-dan-ketentuan{
        padding: 3rem 0 3rem !important;
        min-height: 400px;
    }

    .klien-img{
        max-width: 60px;
    }

    .car-description *{
        font-size: 0.8rem;
    }
    .hr{
        border: 1px solid var(--primary-color);
        width: 150px;
        margin: 0 auto;
    }
}